Crear una notebook haciendo uso de google colab, donde se hagan un análisis inicial a los datos “casas.csv”, se encuentren y se traten los datos incorrectos, datos incompletos y outliers.
La notebook debe entre mezclar celdas de código y celdas de texto. En las celdas de texto se debe explicar lo que se encuentra en los datos, y que acciones correctoras se deciden realizar.
Al final de la notebook debe existir un dataframe llamado df_resultado donde todos los cambios se hayan realizado.

La entrega se debe realizar de dos formas, por un lado, se debe descargar y entregar el código .ipynb (que actuará como archivo histórico) y, por otro lado, en los comentarios de la entrega
se debe poner la url donde se encuentra la notebook. La notebook debe tener los permisos públicos para que el profesor pueda corregir la actividad.

# Importamos las librerias necesarias para manipular el archivo casas.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Importamos el archivo a nuestro entorno con el siguiente código:

In [55]:
from google.colab import files 
uploaded = files.upload()

Saving casas.csv to casas.csv

Comprobamos la ubicación del archivo "/content/sample_data/casas.csv"

In [59]:
ls

anscombe.json*                casas.csv              README.md*
california_housing_test.csv   mnist_test.csv
california_housing_train.csv  mnist_train_small.csv

Creamos el dataframe en base al archivo CSV

In [57]:
df = pd.read_csv("/content/sample_data/casas.csv")

Examinamos el contenido del Archivo CSV

In [64]:
print(df)

             m2  Ano_construccion  n_habitaciones  n_ventanas  n_banos  \
0     87.912100              1947               3           6        2
1     85.315972              2022               3           6        1
2     78.376723              1961               2           6        1
3    112.140336              2011               4          16        1
4    107.020064              1968               3           3        1
..          ...               ...             ...         ...      ...
144   81.043402              2987               3           3        1
145  112.618247              1977               4           4        3
146   83.472145              1967               3           3        1
147  119.494330              1964               4          12        2
148  102.214961              1962               3           3        1

          Precio
0    299538.5044
1    301890.5662
2    268969.3187
3    394649.8780
4    368577.0992
..           ...
144  286772.0776
145  389630.9806
146  287331.9925
147  410702.0110
148  350955.0676

[149 rows x 6 columns]

In [61]:
class Vivienda():
  def __init__(self, m2, Ano_construccion, n_habitaciones, n_ventanas, n_banos, Precio):
    self.Ano_construccion = Ano_construccion
    self.n_habitaciones = n_habitaciones
    self.n_ventanas = n_ventanas
    self.n_banos = n_banos
    self.Precio = Precio

0      1947
1      2022
2      1961
3      2011
4      1968
       ...
144    2987
145    1977
146    1967
147    1964
148    1962
Name: Ano_construccion, Length: 149, dtype: int64

In [58]:
vivienda_nueva = df[df["Ano_construccion"]>2021]
(vivienda_nueva.groupby("Ano_construccion").describe())
#print(df)

                    m2                                                        \
                 count       mean       std        min        25%        50%
Ano_construccion
2022              20.0  97.824758  22.14423  55.323707  83.009197  96.745352
2987               1.0  81.043402       NaN  81.043402  81.043402  81.043402

                                         n_habitaciones        ... n_banos  \
                         75%         max          count  mean  ...     75%
Ano_construccion                                               ...
2022              115.345393  139.330566           20.0  3.25  ...    2.25
2987               81.043402   81.043402            1.0  3.00  ...    1.00

                      Precio                                            \
                  max  count           mean           std          min
Ano_construccion
2022              4.0   20.0  356152.904755  96869.393932  195762.9363
2987              1.0    1.0  286772.077600           NaN  286772.0776


                          25%          50%            75%          max
Ano_construccion
2022              293728.0430  342333.4279  417176.899875  605233.5826
2987              286772.0776  286772.0776  286772.077600  286772.0776

[2 rows x 40 columns]